@import "tailwindcss";

html {
    @apply text-[#8f99b6] font-mono appearance-none text-lg bg-[#0a192f];
}

@theme {
    /* --font-vgt: Verdana, Geneva, Tahoma, sans-serif; */
    --font-code: Consolas, "Courier New", monospace;
    --font-inter: "Inter", sans-serif;
    --color-deepnavy: #0a192f;
    --color-cyan: #5ae1d4;
    --color-green: #00ff00;
    --color-whitespace: #f5f5f5;
    --color-gray-border: #8f99b6;
}

h1,
h2,
h3 {
    @apply font-inter text-whitespace font-bold
}

#expand-content b {
    @apply font-code text-cyan text-sm
}

.ml-25\.35 {
    margin-left: calc(var(--spacing) * 25.35)
}

nav b {
    @apply text-cyan
}